<!-- sigmacell.launch -->
<launch>

  <!-- Load the robot description from the Xacro file -->
  <arg name="xacro_file" default="/home/sirineba/acroba_workshop_ws/src/sigma_cell.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg xacro_file)"/>

  <!-- Spawn the robot into the ROS Parameter Server -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Launch Gazebo with the robot -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find test)/worlds/world.world"/> 
    
      </include>

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -param robot_description -model Ur3e"/>
  <!-- Optionally, you can add other nodes or configurations here -->

</launch>

